*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
  .header{
    padding: 10px;
     text-align: center;
     width:auto;
    border-bottom: 1px solid rgb(146, 145, 145); 
    display: flex;
   }
   .main{
    height: 607px; 
    width:auto;
   }
   .profile{
    display: flex;
    padding: 6 4 0 15px;
    margin-left: 1050px;
    margin-top: -40px;
   }
   .icon{
    padding-left: 5px;
    color:gray;
   }
   p{
    margin-top: 8px;
    font-size: 14px;
   }
   .frm{
    width: 86%;
   }
 input{
     border-color: gray;
     border-radius:20px ;
     padding: 10px;
     width:40%;
   }
   .profile-img img{
    width: 30px;
    height:30px;
    border-radius: 50%;
   }
   .home-section{
    width:90%;   
    margin-left: 120px; 
   }
   .header{
    display: block;
   } 
   .content{
    display: inline;
    overflow: scroll;
   }
   ::-webkit-scrollbar {
    width: 10px;   
   }
   ::-webkit-scrollbar-thumb {
    background: rgb(172, 172, 172);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;   
   }
   ::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);   
   }
   ::-webkit-scrollbar-thumb:active {
    background: rgb(104, 104, 104);
   }   
   .title-head{
    text-align:left;
   }
   .categories{
    display: flex;
    padding:10px;
    margin: 5px;
   }
   .category{
    width:150px;
    height:50px; 
    border-radius: 50px;
    background-color: #ffffff;
    margin: 10px;
    padding:10px;
    border: 1px solid gray;
    text-align: center;
   }
   .cat-w{
    width:200px;
    height:50px;
   }
  .main{
    display: flex;
    position: relative;
    z-index: -1; 

  }
  .container{
    background-color: #7513D6;
    width:10%;
    height: 607px;
    border-radius: 0 20px 20px 0;
    padding-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:fixed;
    z-index: 1; 
    top: 0; 
    left: 0; 
  }
  .home, .about{
    width:150px;
  }
  .favorites{
    width:110px;
  }
  .chat{
    width:170px;
  }
  .contact{
    width:120px;
  }
  .home, .about, .favorites, .chat, .contact{
    color: #fff;
    text-decoration: none;
  }
  li{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color:#fff;
    list-style: none;
    width:130px;
  }
  .btn{
    padding: 20px 0;
  }
  .btn button{
    margin-top: 150px;
    padding: 10px;
    width:90px;
    border-radius: 10px;
    border: 0;
    color: blue;
  }
  .head{
    padding: 20px;
  }
  .projects{
    width:89%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    margin: auto;
    padding:25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .project{
    background-color: rgb(237, 237, 237);
    width:300px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
  }
  .owner{
    display: flex;
    /* padding: 5px; */
    width:300px;
    margin: 0 5px;
    height: auto;
  }
  .owner-img{
    padding: 5px;
  }
  .owner-img img{
    width: 30px;
    height:30px;
    border-radius: 50%;
  }
  .owner-name{
    margin-left: 1px;
  }
  .icon-part{
    display: flex;
    margin-left: 120px;
  }
  .settings{
    background-color: rgba(255, 255, 255, 0.6);
    width: 110px;
    height: 90px;
    color: #7513D6;
    border-radius: 15%;
    text-align: left;
    padding: 10px;
    display:none;
  }
  .hide, .save{
    border-bottom: 1px solid rgb(201, 201, 201);
  }
  .notification{
    background-color: #e7e7e7;
    width: 500px;
    height: 900px;
    display:none;
  }
  .notify-content{
    border-bottom: 1px solid rgb(201, 201, 201) ;
  }
  .notify-head{
    display: flex;
    padding:10px;
    border-bottom: 1px solid rgb(201, 201, 201) ;
    /* margin: 20px 0; */
  }
  .Mark{
    margin-left: 290px;
    color: #7513D6;
  }
  .notify-line{
    border-left: 3px solid #7513D6;
    height: 50px;
    padding: 10px;
  }
  .notify-content{
    display: flex;
    padding: 20px;
  }
  .notify-img img{
    border-radius: 50%;
    width:50px;
    height:50px;
    margin-right: 40px;
    margin-top: 20px;
  }
  .notify-sentence{
    display: flex;
  }

  .edit{
    padding: 10px;
  }
  .project-details{
    width:200px;
    height:90px;
    margin:0 30px;
  }
  .project-text{
    margin-bottom: 5px;
  }
  .project-text, .profile-img{
    text-align: left;
  }
  .project-img img{
    width:230px;
    height: 80px;
  }
  .react{
    display: flex;
    padding: 10px;
    margin: 10px;
  }
  .icon-color{
    color: rgb(192, 192, 192);
  }
  .icon_color{
    color: rgb(192, 192, 192);
  }
  .number-section{
    color: gray;
  }
  .number-section, .react-text, .icon-color, .icon_color{
     margin: 2px;
     display: inline;
  }

